html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	line-height: 3rem;
	color: $text-darkBlue;
	@extend %OpenSans-400;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 96rem;
	margin: 0 auto;
	padding: 0 1rem;
}

.title {
	font-size: 5rem;
	line-height: 6.8rem;
	color: $text-darkBlue;
	@extend %OpenSans-300;
	text-align: center;
}

.subtitle {
	font-size: 3rem;
	line-height: 3rem;
	@extend %OpenSans-700;
}

.btn {
	padding: 2rem 3.1rem;
	font-size: 2.1rem;
	line-height: 1.8rem;
	color: $color-white;
	@extend %OpenSans-700;
	border: 0.3rem solid #FFFFFF;
	border-radius: 2.9rem;
	display: inline-block;
	transition: all .5s;
	&:hover{
		background: $color-white;
		color: $accent-pink;
		box-shadow: 0px 5px 7px rgba(1, 1, 1, 0.75);
	}
}

.display-block {
	display: block;
}