//Подключение файлов
@import 'vars';   // переменные
@import 'fonts';  // шрифты
@import 'libs';  // библиоткеки
@import 'reset';  // сброс стилей
@import 'global'; // глобальные стили всего проекта


.header {
	background: url(../images/header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;	
}
.header-top{
	padding: 2.7rem 0 4.3rem;
	background: rgba(0,0,0,.3);
	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo{
		transition: all .5s;
		&:hover{
			path{
				fill: $accent-pink;
			}
		}
	}
}
.menu {
	&__list{
		display: flex;
	}
	&__list-item + .menu__list-item{
		padding-left: 7.9rem;
	}
	&__list-link{
		color: $color-white;
		line-height: 1.8rem;
		transition: all .5s;
		&:hover{
			color: $accent-pink;
			// border-bottom: 0.1rem solid $color-white;
		}
	}
}
.header-content {
	padding: 11.4rem 0 7rem;
	position: relative;
	&__left-wrap{
		position: relative;
		width: 31rem;
		text-align: center;
		z-index: 2;
	}
	&__title{
		color: $color-white;
		margin-bottom: 5.1rem;
	}
	&__btn{
		margin-bottom: 7.5rem;
	}
	&__text{
		color: $color-white;
		line-height: 2.4rem;
	}
	&__img{
		position: absolute;
		bottom: 0;	
	}
}
.app-box {
	margin-bottom: 5.8rem;
	&__list{
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
	&__item + .app-box__item{
		padding-left: 3.4rem;
	}
}

.offers {
	padding: 7.7rem 0 6rem; 
	&__title-wrap{
		margin-bottom: 6.6rem;
	}
	&__title{
		text-align: center;
		margin-bottom: 7.2rem;
	}
	&__cards-wrap{
		&::before{
			content: "";
			position: absolute;
			width: 100%;
			height: 72rem;
			left: 50%;
			transform: translateX(-50%);
			background: $color-bg;
			z-index: -5;
			clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
		}
	}
	&__cards{
		display: flex;
    	justify-content: space-between;
	}
	&__card{
		width: 30rem;
		text-align: center;
	}
	&__card-imgbox{
		height: 30rem;
    	overflow: hidden;
		position: relative;
		 &::after{
			content: "";
			position: absolute;
			width: 100%;
			height: 0.2rem;
			background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
			opacity: 0.3;
			filter: blur(0.2rem);
			bottom: -1.3rem;
			right: 0;
			border: 1rem solid;
			border-radius: 50%;
		}
	}
	&__card-img{
		display: inline-block;
	}
	&__card-content{
		padding: 6.0rem 3rem 7.7rem;
	}
	&__subtitle{
		margin-bottom: 3.5rem;
	}
}

.efficiency {
	padding: 2rem 0 6.7rem;
	background: $color-bg;
	&__content{
		display: flex;
		align-items: center;
	}
	&__img{
		position: relative;
		background-image: url('../images/timer.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		min-width: 29.8rem;
		height: 34.5rem;
		&::before{
			content: "";
			position: absolute;
			width: 25.2rem;
			height: 25.2rem;
			border: 1.8rem solid $accent-pink;
			border-radius: 50%;
			top: 7rem;
    		left: 2.3rem;
		}	
	}
	&__num{
		font-size: 12rem;
		line-height: 16.3rem;
		@extend %OpenSans-700;
		color: $accent-pink;
		position: relative;
		left: 8rem;
    	top: 11rem;
	}
	&__circle-num{
		font-size: 12rem;
		line-height: 16.3rem;
		@extend %OpenSans-700;
		color: $accent-pink;
		position: relative;
    	bottom: 23.6rem;
    	left: 7.7rem;
	}
	&__right-wrap{
		margin-left: 7.1rem;
	}
	&__subtitle{
		margin-bottom: 3.7rem;
	}
	&__text{
		margin-bottom: 4.7rem;
	}
	&__link{
		color: $accent-pink;
		text-decoration-line: underline;
	}
}

.slider-reviews {
	padding: 7.2rem 0 4.1rem;
	&__inner{
		display: flex;
	}
	&__item{
		text-align: center;
	}
	&__list{
		width: 68.8rem;
    	margin: 0 auto;
	}
	&__img{
		margin-bottom: 5.8rem;
	}
	&__text{
		margin-bottom: 5rem;
	}
	&__author{
		margin-bottom: 1rem;
		font-size: 2.4rem;
		@extend %OpenSans-700;
	}
}
.slick-slide img {
	display: inline-block;
}
.slick-prev,
.slick-next {
	position: relative;
	width: 2.2rem;
	height: 4.1rem;
	top: 14rem;
	border: none;
	background: transparent;
	cursor: pointer;
}
.slick-prev{
	transition: all 0.3s;
	&::before{
		content: '';
		position: absolute;
		background-image: url(../images/icon/left\ arrow.svg);
		width: 2.2rem;
		height: 4.1rem;
		top: 0;
    	left: 0;
	}
}
.slick-next{
	&::before{
		content: '';
		position: absolute;
		background-image: url(../images/icon/right\ arrow.svg);
		width: 2.2rem;
		height: 4.1rem;
		top: 0;
    	left: 0;
	}
}

.price {
	position: relative;
    background: #F2F2F2;
    padding: 15.9rem 0 9.8rem;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
	&__header-flex{
		display: flex;
		justify-content: flex-end;
	}
	&__header-license{
		padding: 2.3rem 6.6rem 2.5rem;
		width: 25%;
		background: $text-darkBlue;
		text-align: center;
		border-right: 0.2rem solid #E5E5E5;
		border-radius: 0.1rem 0rem 0rem 0rem;
		// margin-left: 0.2rem;
		&:last-child{
			border: none;
			border-radius: 0;
		}
	}
	&__header-license-type{
		@extend %OpenSans-700;
		text-transform: uppercase;
		color: $color-white;
		margin-bottom: 1.5rem;
	}
	&__header-license-price{
		@extend %OpenSans-300;
		font-size: 2.4rem;
		color: $color-white;
		display: block;
	}
	&__header-license--hit{
		position: relative;
		overflow: hidden;
		&::before{
			content: 'хит';
			position: absolute;
			width: 50%;
			height: 3rem;
			background: $accent-pink;
			color: $color-white;
			font-size: 1.4rem;
			@extend %OpenSans-400;
			text-transform: uppercase;
			transform: rotate(-45deg);
			left: -3rem;
			top: 1rem;

		}
	}
	&__included-flex{
		display: flex;
	}
	&__included-desc,
	&__included-icon{
		width: 25%;
		background: $color-white;
		border: 0.2rem solid #E5E5E5;
		border-radius: 0.1rem 0rem 0rem 0rem;
	}
	&__icon{
		display: inline-block;
	}
	&__included-desc{
		padding: 2.3rem 0 2.3rem 2.2rem;
	}
	&__included-icon{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.contact {
	padding-top: 7.4rem;
	position: relative;
	&__title{
		margin-bottom: 6rem;
	}
	&__list{
		display: flex;
    	justify-content: space-between;
	}
	&__item{
		display: flex;
		flex-direction: column;
		text-align: center;
		max-width: 28rem;
	}
	&__subtitle{
		font-size: 1.8rem;
		line-height: 2.5rem;
		@extend %OpenSans-700;
		margin-bottom: 3.4rem;
	}
	&__phone,
	&__adres,
	&__email{
		font-size: 2.4rem;
		line-height: 3.2rem;
		@extend %OpenSans-300;
		color: $accent-pink;
	}
	&__email,
	&__phone{
		transition: all .5s;
		&:hover{
			color: $text-darkBlue;
		}
	}
	&__map-clip{
		position: relative;
		clip-path: polygon(52% 27%, 100% 14%, 100% 100%, 0 100%, 0 16%);
	}
	&__map{
		min-height: 50rem;
	}
}

.footer {
	padding: 7rem 0 8rem;
	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__social-list{
		display: flex;	
	}
	&__social-item{
		width: 4.8rem;
    	position: relative;
    	padding: 1.7rem 1.5rem;
    	display: flex;
    	justify-content: center;
    	align-items: stretch;
		margin-left: 1.1rem;
		cursor: pointer;
		transition: all .5s;
		&::before{
			content: '';
			position: absolute;
			width: 4.8rem;
			height: 4.8rem;
			top: 0;
   		left: 0;
			border-radius: 50%;
			background: $color-white;
			border: 0.3rem solid $text-darkBlue;
			opacity: 0.1;
		}
		&:first-child{
			margin-left: 0;
		}
	}
	&__social-item:hover::before{
			opacity: 1;
			z-index: -1;
	}
	&__dev{
		display: flex;
		align-items: center;
	}
	&__dev-logo{
		margin-left: 1.3rem;
		padding-top: 1rem;
		transition: all .5s;
		&:hover{
			path{
				fill: $text-darkBlue;
			}
		}
	}
}

// page-photo

.header-content {
	&__photo-page{
		padding: 7.4rem 0 10.4rem;
	}
}

.photo {
	padding-top: 10rem;
	&__title-box{
		margin-bottom: 9.7rem;
	}
	&__title{
		text-align: center;
	}
}
.photo__content--full{
	margin-bottom: 5rem;
}
.photo-item {
	max-width: 30rem;
	margin-bottom: 5.3rem;
	&--full{
		max-width: 100%;
	}
	&:nth-child(n+4){
		margin-bottom: 0;
	}
	&__img-box--full{
		position: relative;
		&::before{
			content: 'ПАНОРАМА ДНЯ';
			position: absolute;
			display: block;
			font-size: 1.2rem;
			line-height: 2.4rem;
			color: $color-white;
			@extend %OpenSans-700;
			text-transform: uppercase;
			padding: 1.3rem 2rem;
			background: $accent-pink;
			top: 5.4rem;
			right: 13rem;
		}
	}
	&__img--full{
		width: 100vw;
	}
	&__wrap{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
	}
	&__content-box{
		padding: 3.1rem 2.7rem 3rem;
		background: $color-bg;
	}
	&__content-box--full{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__comment{
		margin-bottom: 1rem;
	}
	&__comment-author{
		font-size: 1.4rem;
 		line-height: 2.4rem;
 		@extend %OpenSans-700;
	}
	&__comment-time{
		font-size: 1.2rem;
 		@extend %OpenSans-300;
		text-transform: uppercase;
		margin-left: 0.3rem;
	}
	&__desc{
		margin-bottom: 1.5rem;
	}
	&__desc-text{
		font-size: 1.4rem;
		line-height: 2.4rem;
		@extend %OpenSans-400;

	}
	&__comment-liked{
		font-size: 1.2rem;
		line-height: 2.4rem;
		@extend %OpenSans-400;
		color: $accent-pink;
		text-transform: uppercase;
	}
	&__comment-like{
		position: relative;
		&::before{
			content: '';
			position: absolute;
			display: block;
			background-image: url('../images/icon/heart.svg');
			width: 1.3rem;
			height: 1.2rem;
			right: 0;
			top: 0.5rem;
			cursor: pointer;
		}
	}
	&__comment-like--full{
		margin-right: 4rem;
		&::before{
			right: -3rem;
		}
	}
}

.dowloud {
	padding: 6.7rem 0 2.8rem;
	&__title-box{
		text-align: center;
		margin-bottom: 7.5rem;
	}
}
.form-dowloud {
	padding: 5.7rem 6rem 5.7rem 8rem;
	background: $color-bg;
	display: flex;
	justify-content: space-between;
	&__crop-wrap{
		display: flex;
		align-items: center;
		position: relative;		
		&::after{
			content: '';
			position: absolute;
			width: 100%;
			height: 0.1rem;
			bottom: -1.3rem;
			background: $text-darkBlue;
			opacity: 0.1;
		}
	}
	// &__input{
	// 	margin: 0 3rem 0 4.8rem;
	// 	width: 28.8rem;
	// 	height: 0.2rem;
	// 	background: $text-darkBlue;
	// 	border: none;
	// }
}





@import 'media';  // медиа запросы
